<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.persproj.KamyarRostami.carcare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
       >

        <receiver android:name="com.persproj.KamyarRostami.carcare.Utils.NetworkHelper">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.persproj.KamyarRostami.carcare.MainView.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.persproj.KamyarRostami.carcare.User.Sign_in_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.persproj.KamyarRostami.carcare.SplashView.Splash_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.persproj.KamyarRostami.carcare.CarAdd.CarAddActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.persproj.KamyarRostami.carcare.User.User_Fragment_Manager_Activity"
            android:theme="@style/Theme.Design.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mailto" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.persproj.KamyarRostami.carcare.CarView.CarView"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.persproj.KamyarRostami.carcare.CarSearch.SearchActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <service
            android:name="com.persproj.KamyarRostami.carcare.Services.CheckCarServiceTime"
            android:exported="false" />
    </application>

</manifest>